version 5.206.0

group Main
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    // If you don't want to create "string" targets and dependency tree
    // nuget BlackFox.Fake.BuildTask